{% extends "base.html" %}

{% block title %}Form {% endblock %}
{% block subtitle %}New/Update Planeta{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        
        {% csrf_token %}
        <div class="custom-form">
            <table>
            {{ form.as_table }}
            </table>
                
            <button class="btn btn-success btn-lg" type="submit">Save</button>
            {% if planeta %}
            <a href="{% url 'planetario:delete_planeta' planeta.id %}" class="float-right">
                <button class="btn btn-danger btn-lg" type="submit">Delete</button>
            </a>
            {% endif %}
            </div>
    </form>


{% endblock %}